@font-face {
    font-family: 'digital';
    src: url('../fonts/digital-7.ttf') format('truetype');
}


.slider-display {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background: #c9c9c9;
    border: 2px solid black;

    border-radius: 3px;
    height: 60%;
}

.slider-display div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: digital;
    font-weight: bold;
    font-size: 19px;
    text-shadow: 0px 0px 3px #666;
    text-align: center;
}

.slider-display-wrapper {
    height: 6.25vh;
    position: relative;

}

.slider-wrapper {
    height: 18.75vh;
    width: 100%;
    padding:0px;
    margin:0px;
    /* background: purple; */
    position: relative;

}

.sliderholder {
    height: 100%;
    width:100%;
    /* background: lavender; */
    margin:0px;

}
input[type="range"]::-webkit-slider-runnable-track {
    /* Styles the track of the input*/

    background: #707070;
    height: 20px;
    border: 2px solid black;
    border-radius: 5px;
}


input[type="range"]::-webkit-slider-track {
    /* Styles the track of the input*/

    background: #707070;
    height: 20px;

    border: 2px solid black;
    border-radius: 5px;
}

input[type="range"]::-moz-range-track {
    /* Styles the track of the input*/

    background: #707070;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 5px;
}

input[type="range"] {
    -webkit-appearance: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 17.5vh;
    height:10px;
    transform: translate(-50%, -50%) rotate(90deg);
}

.low input[type=range]::-moz-range-thumb {
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    box-shadow: 2px 2px 0px 0px black;

    background-image: url('../images/low.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #FC6CA3;
    border: 2px solid black;
    border-radius: 5px;
    height: 55px;
    width: 25px;
}

.low input[type=range]::-webkit-slider-thumb {
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    box-shadow: 2px 2px 0px 0px black;

    -webkit-appearance: none;
    background: url('../images/low.png') no-repeat center;
    background-position: center;
    background-color: #FC6CA3;
    border: 2px solid black;
    border-radius: 5px;
    height: 55px;
    width: 25px;
    transform: translate(0, -20px);
}



input[type=range]:focus {
    outline: none;
    /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-moz-focus-outer {
    border: 0;
}
.nopadding {
    padding: 0 !important;
}

/* DO NOT UPDATE THIS WITHOUT COPY PASTING, EDIT THE LOW CLASS AND MOVE IT OVER */

.mid input[type=range]::-moz-range-thumb {

    transition: transform 0.1s ease, box-shadow 0.1s ease;
    box-shadow: 2px 2px 0px 0px black;

    background-image: url('../images/mid.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #FC6CA3;
    border: 2px solid black;
    border-radius: 5px;
    height: 55px;
    width: 25px;
}



.mid input[type=range]::-webkit-slider-thumb {
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    box-shadow: 2px 2px 0px 0px black;


    -webkit-appearance: none;
    background: url('../images/mid.png') no-repeat center;
    background-position: center;
    background-color: #FC6CA3;
    border: 2px solid black;
    border-radius: 5px;
    height: 55px;
    width: 25px;
    transform: translate(0, -20px);
}



.high input[type=range]::-moz-range-thumb {
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    box-shadow: 2px 2px 0px 0px black;

    background-image: url('../images/high.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #FC6CA3;
    border: 2px solid black;
    border-radius: 5px;
    height: 55px;
    width: 25px;
}

.high input[type=range]::-webkit-slider-thumb {
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    box-shadow: 2px 2px 0px 0px black;

    -webkit-appearance: none;
    background: url('../images/high.png') no-repeat center;
    background-position: center;
    background-color: #FC6CA3;
    border: 2px solid black;
    border-radius: 5px;
    height: 55px;
    width: 25px;
    transform: translate(0, -20px);
}



/* for animation  */
input[type=range]::-moz-range-thumb:hover {
    transform: translateX(1px);
    box-shadow: 0px 0px 0px 0px #FC6CA3;
}
input[type=range]::-webkit-slider-thumb:hover {
    /* transform: translateX(1px); this is broken on chrome and safari*/
    box-shadow: 0px 0px 0px 0px #FC6CA3;
}