#volume-container {
    position: absolute;
    top: 35%;
    left: 90%;
    transform: translate(-50%, -40%);
    background-color: #555;
    width: 8%;
    height: 70%;
    z-index: 10;
    opacity: 0;
    /* border: 1px solid black; */
}

#volume-bar {
    position: relative;
    height: 80%;
    padding: 3px;
    margin: 10px;
    /* background-color: #555; */
}

.vol-step {
    /* float: top; */
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    height: 8%;
    width: 80%;
    /* padding: 2px; */
    /* padding: 10px; */
}

.vol-on {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 100%;
    /* padding: 2px; */
    margin: 5px 0 5px 0;
    background-color: white; 
}

.vol-off {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30%;
    width: 30%;
    margin: 5px 0 5px 0;
    background-color: white; 
}

#volume-text {
    height: 10%;
    bottom: 0;
    /* float: bottom; */
    font-family: digital;
    font-weight: bold;
    font-size: 20px;
    /* text-shadow: 0px 0px 3px #666; */
    text-align: center;
    color: white;
}